<div [@fadeIn] id="content">
    <div class="uk-container uk-flex uk-flex-center">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-width-1-1" uk-grid
            style="max-width: 1000px;" uk-height-match="target: > div">
            <div class="uk-card-media-left uk-cover-container uk-width-1-1@s">
                <img src="../../../assets/1000258473.png" alt="" class="uk-responsive-width img-half">
                <!-- <img src="../../../assets/historias.png" alt="" class="uk-responsive-width img-half"
                    style="width: 30%; height: auto;"> -->
            </div>
            <div class="uk-width-1-1@s">
                <div class="uk-card-body">
                    <h3 class="uk-card-title ubuntu-bold">Bem vindo ao Fantasia Kids</h3>
                    <h4 class="ubuntu-medium">Leve seu filho para um mundo mágico com o Fantasia Kids!</h4>
                    <h5 class="ubuntu-regular">
                        Descubra um universo encantado de histórias infantis cuidadosamente organizadas por categorias
                        como
                        <strong class="ubuntu-medium-italic">Ação, Aventura, Esporte e Fantasia</strong> — cada uma
                        criada para entreter,
                        ensinar valores e transformar momentos em família em experiências inesquecíveis.
                        Prepare-se para explorar mundos incríveis, conhecer personagens corajosos e viver emoções que só
                        o Fantasia Kids pode proporcionar.
                    </h5>
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"
                        (click)="goToStart()">
                        Começar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>